body{
	font-family: Roboto,"sans-serif";
}

.rounded{
	margin-top: 7px;

}

.rounded1{
	background-color: #dcdcdc;
	margin: 1px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}

.github{
	margin-top: 20px;
}

.card{
	height:470px;
	border: none;
	position: relative;
}

/* Top right text- free shipping */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

img{
	padding-top: 10px;
}

h6{
	font-size: 12px;
	text-align: center;
}

hr{
	/*width: 25px;*/
	background-color: gold;
	height: 3px;
}

strong{
	font-size: 24px;
}

p{
	margin-bottom: 0px;
	text-align: center;
}

h5{
	font-size: 16px;
	color: grey;
	margin-top: 5px;
	text-align: center;
}

button{
	color: white;
	background-color: black;
	width:200px;
	height: 40px;
	margin-top: 30px;
	padding-right: 5px;
	border-radius: 5px;
}

label{
	color: white;
	background-color: black;
	width:60px;
	height: 18px;
	font-size: 8px;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	padding-top: 3px;
}

.secondrow, .thirdrow, .fourthrow{
	margin-top: 50px;
}